[2019-09-15 17:30] wKich opened #3 "1.0 goals"
- Monorepo
  - chai-images
  - creevey
  - creevey-ui
- Browser adapters
  - creevey-selenium
  - creevey-puppeteer
- ~~Storybook integration~~ (Support all storybook frameworks)
  - ~~creevey-react~~
  - ~~creevey-vue~~
- ~~UI~~
  - ~~Rewrite UI~~
  - ~~Improve performance for large amount of tests~~

~~Allow use creevey without storybook~~

[2019-10-16 10:12] Raykeen opened #4 "Using file reports results report with only one case"
I'm trying to use mocha-junit-reporter, but get file with only last testcase. Also i tried xunit reporter (with hack worker.js to add output to reporterOptions) and get same result.

Ability to pass a reporterOptions might also be useful.

[2019-11-19 10:01] rustho opened #5 "Filter"
add filter for substring (browser, component, error)

[2019-11-19 10:03] rustho opened #6 "button check for tests with errors"

[2019-11-19 10:20] rustho opened #7 "favicon"
add favicon for different state (test starts, test end)

[2019-11-19 13:24] rustho opened #8 "Do not reset diff view mode after switch between tests"
было бы круто, если бы вьюшка запоминала вид который у тебя стоит, например своп и врубала его, а не всегда сайд-сайд

[2019-11-20 04:25] wKich opened #9 "Highlight current test"
Подсвечивать открытый в данный момент тест

[2019-11-20 06:21] rustho opened #10 "config"
config for ports (may be smth extra)

[2019-11-20 13:10] #10 closed

[2019-11-20 17:27] wKich commented on #6
Wat?

[2019-11-21 04:55] rustho commented on #6
хочу кнопку которая чекает все тесты с ошибками или запускает только тесты с ошибками

[2019-11-26 10:25] DerArvend opened #11 "Fail test if story name contains invalid characters"
Now, if story name contains character, which is not allowed in filename (e.g. `:`), test fails after timeout. In this case it would be more much more convenient if test would fail immediately and with corresponding error

[2019-12-11 04:32] wKich commented on #9
Done in 0.2.0

[2019-12-11 04:32] #9 closed

[2019-12-11 04:35] wKich commented on #6
Done in 0.2.0. You can filter tests with `status:failed` and then click `start` button. Only checked and filtered tests will be run

[2019-12-11 04:35] #6 closed

[2019-12-11 04:36] wKich commented on #5
Done in 0.2.0

[2019-12-11 04:36] #5 closed

[2019-12-17 06:59] vandal-x opened #12 "Problems with skip options"
Hi everyone!

I have some problems with `skip` option. Here is my config:
[code]
I expected to skip stories with "Editor" name, but instead it's locked all my stories.
![image](https://user-images.githubusercontent.com/22432062/70971861-bd02a480-20c3-11ea-96db-60db151ba893.png)

Any help?

[2019-12-19 12:36] #12 closed

[2019-12-19 12:37] wKich commented on #12
Fixed in 0.2.3

[2020-01-20 11:09] original001 opened #13 "Добавить имя агента в логи"

[2020-02-17 07:03] rustho opened #17 "[Logs] убрать лишнее"
![image](https://user-images.githubusercontent.com/26579566/74630949-80176480-517d-11ea-81f3-948242042b21.png)

[2020-03-29 10:59] wKich commented on #17
Добавил опцию `--debug`, по умолчанию выключена.

[2020-03-29 10:59] #17 closed

[2020-05-15 04:35] wKich commented on #3
Reorganize issues and use milestones instead

[2020-05-15 04:35] #3 closed

[2020-05-15 04:36] wKich opened #25 "Readlink don't work on windows"
Need to change storybook framework detection.

[2020-05-15 04:44] wKich opened #26 "Fix Storybook output warning `Unexpected loaded state. Did you call `load` twice?`"
I think it could be fixed if some of storybook modules would be deleted from `require.cache` and loaded again.

[2020-07-23 14:09] #25 closed

[2020-07-23 14:09] #26 closed

[2020-07-27 07:27] #8 closed

[2020-09-09 05:34] kps-s-wada opened #52 "Cannot start test with a service like BrowserStack."
Hello.

I tried to do a multi-browser test using a service like BrowserStack.

However, due to the limited number of BrowserStack parallel connections, Creevey did not start.

Creevey connects in parallel with all registered Selenium nodes.

In a situation where the number of connections is limited, I think the following considerations are necessary.

1. Do not connect to Selenium Grid at UI start

[2020-09-30 11:16] wKich commented on #52
Hello. I'm really sorry for late response 😅

Yeah, I understand that BrowserStack has pretty limited number of parallel sessions.

The reason why creevey start all sessions on startup is allow to start tests immediately especially if you start/restart tests from UI runner, and it's allow don't waste time on reconnect between tests.

I think, I could add option to limit total connections count, and

[2020-09-30 11:18] wKich commented on #52
Please, free to contact me if you have any questions. I'll glad to help.

[2020-10-27 05:41] Raykeen opened #79 "SyntaxError when starting creevey"
After updating 0.0.30 -> 0.6.4 I've got the error at start.
storybook version - 5.3.17

[2020-11-03 17:37] wKich commented on #79
Hi. Try to use creevey@next. I'll take a look why this happened

[2020-11-09 21:02] Fiszcz opened #82 "Use Creevey for visual tests"
For example I want use your library for visual tests but on CI pipeline and I wonder if you have some way to run **creevey** for this purpose.

Libraries from this list have explicitly support for testing pipelines (for example in Jest): https://github.com/wKich/creevey#comparison-with-other-tools

I think that **creevey** CLI should have command/option to run only tests, return only some details

[2020-11-10 08:51] wKich commented on #82
Hello. Yeah, Creevey allow you to run tests on CI. You can check one of the latest runs https://github.com/wKich/creevey/runs/1378692701#step:8:92 where is Creevey test it own UI.

But, Creevey don't support docker-in-docker configuration (for some CIs, you need to configure executors to use virtual machine, check circleCI config in Creevey) and don't generate JUnit report, yet.

I'll add these fe

[2020-12-15 05:03] #82 closed

[2021-01-05 07:03] BmsVisionJo opened #99 "Storybook addons not working when running creevey"
Hi,

We have a functional Storybook with some standard addons for adding toolbar buttons and theme switching funtionality and a custom webpack config in order to support sass for storybook in my main.js

[code]

When I run Creevey and refresh the page, my classes for theming applied on the body element seem gone and therefore the entire storybook has no styling anymore. Creevey takes snapshots of

[2021-01-05 12:39] wKich commented on #99
This is strange. Creevey addon doesn't do anything with other addons. It just adds a panel in Storybook UI. I guess it could be related to this https://github.com/storybookjs/storybook/issues/11442

About the waring, it's Storybook issue https://github.com/storybookjs/storybook/issues/12872, try to update to 6.1.x

[2021-01-06 12:02] BmsVisionJo commented on #99
I've updated to Storybook 6.1.11 and that solved the warning, thanks for that.
I also updated to the newly released creevey 0.7.15.

Moving the order of the addons did not help. I have no issues however with my storybook untill I run the creevey command.
I switched on debug logging and saw this exception. Maybe this could be a problem?

[code]

[2021-01-06 16:38] wKich commented on #99
To clarify, you add creevey addon to the storybook config, then start storybook and open it in a browser. Your components are styled, even if you refresh the page. But, then you start creevey and refresh the page again styles disappear. If so, it's really strange, because the server doesn't affect storybook.

Do you have any errors in the browser console? Can also tell your angular version? I'll t

[2021-01-06 18:13] wKich commented on #99
I've reproduced it on a fresh angular project. This happened when my addon calls the `setStories` method of Storybook API. I'll try to fix it. Thank you for the report and your patience.

[2021-01-07 06:10] BmsVisionJo commented on #99
No errors in the console, the angular version we are using is 10.1.5.
Happy to hear you can reproduce it. Thank you for looking into it.

[2021-01-07 06:51] wKich commented on #99
@BmsVisionJo  I've just released the new version with the fix. Please, take a look.

[2021-01-07 06:55] wKich commented on #99
About the exception in debug logging. Can you please send to me (w@kich.dev) a file from `node_modules/creevey/node_modules/.cache/creevey/storybook/main.js`? I'll take a look and tell you where the problem is and how to fix it.

[2021-01-07 13:32] BmsVisionJo commented on #99
I've narrowed down the source of the exception leading me to the issue beeing babel trying to compile documentation.json thinking it is a javascript file and throwing an error that it needs a ";" character.

I've added logging to see where it fails and that shows me that the location of the error is at the "pipes" keyword that is in the documentation.json file.
[code]

Do you have any clue what co

[2021-01-07 15:56] wKich commented on #99
I think you mean this [file](https://github.com/wKich/creevey/blob/master/examples/angular/.storybook/preview.js#L3). You can place these 3 lines into separate file and import it in the preview.js as workaround for now. I will fix it soon.

[2021-01-07 16:19] BmsVisionJo commented on #99
These lines were already there since we already used the docs addon.

[2021-01-07 17:14] wKich commented on #99
I mean, your `preview.js` file should be like this:
[code]
And in `docs.js` you place
[code]

Actually, the compilation error you get in debugging is not a problem until Creevey loads and runs tests.

[2021-01-08 09:27] varya opened #105 "Error when starting storybook after installing Creevey"
![2021-01-08_10-33-12](https://user-images.githubusercontent.com/27215/103997351-a3873b80-51a3-11eb-8b5a-e41b894b2d9b.png)

I have 2 clones of the same project. One has this error.

The difference is that on the working clone creevey is 0.7.14, on the broken one it is 0.7.17.

[2021-01-08 11:45] varya opened #106 "Creevey does not run on Windows machine"
I am trying to set up Creevey at my project, and on Mac it works nicely. But my colleague with Windows have errors like the following. Our guess is that it has something to do with system security restrictions (which unfortunately cannot be changed).

If this is the problem, the possible solution would be to run needed docker containers separately in admin mode (we did the same for another testing

[2021-01-08 13:41] wKich commented on #105
Oh, sorry for what. I tried to fix but with parameters. And completely forgot, that imported function couldn't exist in different versions. I'll release fix soon

[2021-01-08 17:37] wKich commented on #105
Released 0.7.18. please, check it.

[2021-01-11 08:04] BmsVisionJo commented on #99
I've implemented the workarround and also installed creevey 0.7.18.
I am now able to refresh my page without losing the addon buttons wich is already a step forward.
The only issue remaining is that the taken images do not match with my storybook.
What could be causing this?
![image](https://user-images.githubusercontent.com/33021856/104157701-f6ebca80-53eb-11eb-995d-dbd61d90efa7.png)

[2021-01-11 10:47] wKich commented on #99
Oh, I see. If I'm right, you change a theme in the toolbar, and creevey captures the default one. Creevey doesn't sync any changes in the toolbar or controls. Because it could be a problem when you run creevey in CI, you can't switch between themes and capture just the default one.

I can suggest setting the default theme in parameters https://github.com/tonai/storybook-addon-themes#globally (the

[2021-01-11 14:31] wKich commented on #106
Solution https://www.reddit.com/r/docker/comments/grjwl9/comment/frztfhk

[2021-01-11 14:31] #106 closed

[2021-01-12 06:21] BmsVisionJo commented on #99
We have a default theme:
[code]
But next to that we also use some implementation to swap out css files based on the selected brand.
This is implemented the following way:

We have a preview-head.html file that sets a default brand from a dist folder.
[code]
Then we can change this href by using a decorator when clicking items in the toolbar.

[code]
We also have icons that are located in the dist

[2021-01-12 12:21] wKich commented on #99
What is `globals.brand` default value?

The browser in docker container goes to the same storybook that you open in a browser. One exception is, it goes to `http://localhost:6006/iframe.html?path=/story/{storyId}`, where `{storyId}` is the id of the current story. You can open the story if you click on the second icon from the toolbar's top-left corner.

I guess creevey doesn't wait until new styl

[2021-01-12 12:26] BmsVisionJo commented on #99
I'm sorry I did not include that part.
[code]

That may be a possible explanation, I will try it soon with the delay, thank you.

[2021-01-12 15:04] wKich commented on #99
In later versions storybook has async loaders, you can try to add them, to check when styles loaded https://storybook.js.org/docs/react/writing-stories/loaders#global-loaders

[2021-01-14 16:59] wKich commented on #99
@BmsVisionJo, I've just released new version with support globals, but it's experimental feature, and API will change.

[2021-01-15 09:54] varya commented on #105
Checked with creevey@7.20.0. Storybook starts. thanks!

[2021-01-15 09:54] #105 closed

[2021-01-18 08:03] BmsVisionJo commented on #99
I managed to achieve the desired result by setting our own globals instead of using the themes plugin.
This now sets the classes correctly and by using your experimental gobals support we are now able to run the tests for different themes. Closing this issue now and will keep track of upcomming progress. Thank you.

[2021-01-18 08:03] #99 closed

[2021-02-05 08:49] antonellopasella opened #120 "error if a filename starts with "creevey.config.js""
If we have a file named "creevey.config.js.js" the script fails.

I think the filename is checked only for starts and not for and exact match

[2021-02-10 16:47] wKich commented on #120
@antonellopasella, hello. Thank you for the report. Can I wonder, why you named the file with `.js.js` extension?

[2021-02-10 16:57] antonellopasella commented on #120
I was renaming with VSCode and it doubled the extension 😅

[2021-02-10 17:08] wKich commented on #120
Ah, ok :)
I'll fix it.

[2021-03-30 08:58] kps-s-wada opened #139 "can't selectStory in IE."
creevey@0.7.26

https://github.com/wKich/creevey/blob/master/src/server/selenium/browser.ts#L306

This line is not transpiled.
IE doesn't support object spread syntax, so it doesn't work.

[2021-03-30 12:32] wKich commented on #139
Hi. Nice catch  👍. Thank you for reporting. I'll fix it today.

[2021-03-31 06:39] wKich commented on #139
@kps-s-wada, I've released 0.7.27 with IE fix. Please give it to try.

[2021-04-01 13:36] 9inpachi opened #141 "Skipping mdx stories?"
Hi,

Just wanted to ask if there's a way to skip mdx stories?

[2021-04-01 14:31] 9inpachi commented on #141
For a story `introduction.stories.mdx` with `<Meta title="Documentation/Introduction" />`, it gives this error.

[code]

[2021-04-01 16:58] wKich commented on #141
Hi. Thank you for reporting. Could you please share what's inside the `introduction.stories.mdx`? It helps me to fix this case

Yes, you can skip any story you want.
For this one, you need to add global storybook parameters into `.storybook/preview.js` file. Like this:

[code]
The more information about the skip option you can find [here](https://github.com/wKich/creevey/blob/master/docs/config.md

[2021-04-01 16:59] wKich commented on #141
It looks like this file doesn't contain any `<Story />` element

[2021-04-01 17:10] 9inpachi commented on #141
For this one, you need to add global storybook parameters into .storybook/preview.js file. Like this:

Interesting! I was trying to find a way to do it through both storybook (through the addons configuration) and Creevey but couldn't get around it. This really helps. Thanks a lot!

Indeed, that's true. We are using some mdx files as purely docs without any component stories in them but we do have

[2021-04-01 17:28] #141 closed

[2021-04-25 12:04] ArthurClemens opened #144 "How to handle waiting for async content?"
I have a page where some content is loaded from the network. The generated screenshot shows white parts, until I repeatedly click the play button to generate the screenshot again.

What is the recommended approach?

[2021-04-26 04:22] wKich commented on #144
@ArthurClemens, hi. There are two ways how to deal with async stories:
- Use Storybook loaders https://storybook.js.org/docs/react/writing-stories/loaders to prefetch data
- Define story parameter `creevey: { waitForReady: true }` and then call `window.__CREEVEY_SET_READY_FOR_CAPTURE__?.()` when you think the content is loaded

[2021-04-26 07:43] ArthurClemens commented on #144
Great, I'll explore these.

[2021-04-26 07:43] #144 closed

[2021-05-19 10:44] varya opened #147 """ value for skip should mean true"
This
[code]
equals to

[code]

I think it has to be equal to `true`. Especially from the workflow perspective. I might want to have a reason for skipping but I don't YET have exact wording for it.

[2021-05-19 12:11] varya opened #148 "Reference screenshots not browser that is not in configuration (cache)"
My config is like the following

[code]

But when I do `creevey --update`, I get unnecessary references for not anymore existing "chrome" browser. Looks like some cache issue. It is possible to clean the cache automatically?

![2021-05-19_15-09-03](https://user-images.githubusercontent.com/27215/118810383-7e72aa00-b8b4-11eb-8ae1-c871fb6cf7d7.png)

[2021-05-19 15:23] ccreeger opened #149 "Compatible with Webpack 5?"
Hello,

I'm attempting to replace Storyshots with Creevey. When I start up Storybook it fails to launch and I get this error:

[code]

I have Storybook configured to use Webpack 5. Could that be the problem?

Thanks!

[2021-05-20 09:22] wKich commented on #147
The empty string is a falsy value. So if you don't have a reason yet it might be ok to set `true`. It's more intuitive than an empty string, but the problem is the skip types accept only `string | SkipOption | SkipOption[]`

[2021-05-20 09:28] wKich commented on #148
Yeah, I can improve it a little. But there is a scenario when you have a test with multiple screenshot assertions, where each screenshot has its own name. On a startup, I can grab information about stories/browsers and test names, but can't get actual image names from tests without executing them. So if you will have such tests and rename images in the test, the `--update` doesn't know about it.

[2021-05-20 09:30] wKich commented on #148
I think that scenario is rare and it's ok to make the common case better leave the rare case as is

[2021-05-20 09:44] wKich commented on #149
@ccreeger, thanks for your interest. Do you have that error only when starting Creevey? I've made some improvements to allow run Creevey without webpack dependency. I released a new version 0.7.28. Could you try it?

[2021-05-20 13:58] varya opened #150 "Screenshot error in stories with popups/modals"
I get an error for this story https://component-library-storybook.dc2-dev.elisa.fi/?path=/story/components-modal--size-s

![2021-05-20_16-57-05](https://user-images.githubusercontent.com/27215/118991459-70905800-b98c-11eb-8c9b-0fde27c4dfc1.png)

The reason to it must be that `div#root` is 0 pixels of height. But that might be the case with all the modals/popups.

[2021-05-21 02:52] ccreeger commented on #149
I should have been more specific about my problem; sorry about that. I was getting the error after I had added Creevey as an addon to my Storybook main.js file, and then did `npm run storybook`.

Just in case it was due to all the crazy configuration in our production repo, I decided to give Creevey (0.7.28) another shot with a clean repo. I booted up a blank Next.js project using `npx create-next

[2021-05-21 04:46] wKich commented on #149
Oh, now I understand the issue. My addon adds define plugin to storybook webpack config by using `managerWebpack` export function. And I don't have any webpack dependencies, Creevey uses the same webpack as installed in your project. And that's why you got that error https://github.com/storybookjs/storybook/issues/14044. The Storybook manager UI supports the only webpack@4 for now and my addon is

[2021-05-21 04:49] wKich commented on #150
Yep. I know about this issue. I'm going to change the default algorithm of resolving a `captureElement`, so it will work the same as in Chromatic. For now, you can explicitly set `captureElement` to `null` or `body` for those stories.

[2021-05-21 07:10] #147 closed

[2021-05-21 07:11] wKich commented on #139
Closed because of inactivity

[2021-05-21 07:11] #139 closed

[2021-05-21 07:15] wKich commented on #120
Fixed in 0.7.28

[2021-05-21 07:15] #120 closed

[2021-05-21 07:18] Raykeen commented on #79
0.7 fixes the issue, thank you

[2021-05-21 07:18] #79 closed

[2021-05-21 07:20] wKich commented on #52
In some 0.7.x version I added the ability to use browserstack or any other remote grid for specific browsers and run other browsers in docker simultaneously

[2021-05-21 07:20] #52 closed

[2021-05-21 14:15] ccreeger commented on #149
Now following you on Twitter.

Our organization has been using Storyshots for years, but after upgrading to React 17 and Storybook 6, I would _really_ like to drop it in favor of Creevey due to your much simplified approach to installation and configuration.

I totally understand not having a lot of time to work on personal projects; I face the same challenges. As developers we like to write code

[2021-05-21 14:15] #149 closed

[2021-05-24 11:57] varya opened #151 ""unrecognised content at end of stream" for Mac/Windows team"
The screenshots made under Unix (Mac) don't work on Windows. Every single story gave this error

[code]

![Screenshot_2021-05-24 Creevey](https://user-images.githubusercontent.com/27215/119344083-e4d63e80-bc9f-11eb-90a5-09e63014e7c0.png)

Perhaps it is related to https://github.com/lukeapage/pngjs/issues/235 ?

We use

node v14.15.4
npm 6.14.4
creevey 0.7.28

[2021-05-27 11:43] varya opened #154 ""Cannot use import statement outside a module", creevey doesn't see stories"
In this repo, https://github.com/goright-io/hands-on-design-system

I am having the following error

![2021-05-27_14-40-32](https://user-images.githubusercontent.com/27215/119819986-acca3800-bef9-11eb-9bbe-d70223996e63.png)

There was no such error in other projects, and the storybook seems to be the same version. Could it be some version mismatch?

[2021-05-30 09:08] wKich commented on #154
I'll take a look, thanks for the report

[2021-06-07 09:50] MaksimMedvedev commented on #11
Faced the same issue and could not figure out the reason until I went here)
Perhaps I'm kinda blind, but I cannot see any info about forbidden chars in story name. Could you please elaborate on this in docs when you have free time? Thanks for your tremendous work!

[2021-06-08 13:12] Sm1t opened #157 "Error: ENOENT: no such file or directory, open 'C:\Users\User\myproject\report\tests.json'"
Hi, thanks for this awesome project! I am trying to use it in my project and I am getting the following error:
![image](https://user-images.githubusercontent.com/22860327/121189795-e13bdd80-c883-11eb-80be-c177d7c80acd.png)

It seems to me that before writing the file, you need to check if such a path exists. I fixed this by manually creating the "report" directory.

[2021-06-09 16:30] Perni1984 opened #158 "UnknownCommandError: Unrecognized command: actions - Saucelabs setup"
I am currently testing creevy with a bigger project and so far it works very well. Locally all tests run through smoothly, but when I am trying to connect to our saucelabs selenium grid over the saucelabs connect proxy I am receiving  the following `UnknownCommandError: Unrecognized command: actions` error:

![image](https://user-images.githubusercontent.com/9039956/121393428-9e940700-c950-11eb-9a

[2021-06-10 09:17] wKich commented on #11
Yeah, I haven't described it yet. But, sure, I'll add this in docs.

[2021-06-10 12:07] wKich commented on #157
Hi, yeah, I already fixed this error but forgot to release a new version. Sorry for that. I'll release 0.7.30 today

[2021-06-10 12:55] wKich commented on #157
@Sm1t, done. Thank you for your supporting

[2021-06-10 13:03] wKich commented on #158
Hi, thanks for reporting.

Could you share your creevey config that you use for saucelabs? I'll try to investigate the issue. I think it could be bad version compatibility between selenium and chrome webdriver.

[2021-06-10 23:55] Sm1t commented on #157
It works, thanks!

[2021-06-10 23:55] #157 closed

[2021-06-14 17:37] cassiourugit opened #160 "DevToolsActivePort file doesn't exist - Mac OS"
Hi, i have a storybook project, installed creevey
started storybook
and, when I run creevey, (yarn creevey --ui)

It shows this:
[CreeveyMaster]: Pull docker images
✔ aerokube/selenoid:latest-release: Pull complete
[CreeveyMaster]: Pull docker images
✔ selenoid/chrome:latest: Pull complete
[CreeveyMaster]: Starting with pid 1029
[CreeveyWorker]: Starting chrome:1030
[FAIL:1030] WebDriverError: unk

[2021-06-15 08:37] wKich commented on #160
Hi, thank you for the report. It seems you faced this issue https://github.com/aerokube/selenoid/issues/1109. Creevey uses selenoid under the hood.

You can try to install Rosetta with `softwareupdate --install-rosetta` and then set the environment variable before starting Creevey `export DOCKER_DEFAULT_PLATFORM=linux/amd64`. It should enable x86 emulation in docker.

Unfortunately, I don't have M

[2021-06-15 16:26] cassiourugit commented on #160
Hi, thanks for the quick reply!

I did those steps, but still facing the issue.

I found this 3 options inside creevey

 1-
`useDocker: boolean;`

2-
`Custom selenoid docker image -- @default 'aerokube/selenoid:latest-release' -- dockerImage: string;`

3-
`Should Creevey pull docker images or use local ones -- @default true -- pullImages: boolean;`

Is it possible to use any of those options so th

[2021-06-15 18:04] wKich commented on #160
1. It could be used as a solution, to run selenoid without docker or without selenoid at all, directly use chromedriver. But screenshots will be dependent on your system, so if tests are run on CI or by someone else, they will fail.
2. Yep, you can try using custom selenoid images, as described in selenoid issue. But I think the issue is in a browser image, so you might want to define your custom

[2021-06-17 06:13] Perni1984 commented on #158
@wKich I think this problem is not related with creevey, but more to my saucelabs config. I will close the issue now and eventually reopen if I know more.

[2021-06-17 06:13] #158 closed

[2021-06-21 04:12] wKich commented on #154
Fixed in 0.7.30

[2021-06-21 04:12] #154 closed

[2021-06-23 12:33] bentleyvk opened #163 "Tests started to fail randomly"
Hi, thank you for this great lib you made!
Today almost all our tests started to fail locally and in GitHub Actions.
All the failures looks the same:
![image](https://user-images.githubusercontent.com/36186912/123096625-f7c36680-d437-11eb-9907-1440d17da3ab.png)

We are using v0.7.29.

Any ideas what can be the cause? I looked at `selenoid` and it seems haven't changed since March.

[2021-06-23 14:01] wKich commented on #163
Hi. Thank you for your feedback.
By default if you didn't specify browser version, creevey will check the latest browser docker image. So it looks like image had been updated. According by this page https://hub.docker.com/r/selenoid/chrome/tags?page=1&ordering=last_updated chrome updated 3 hours ago.

[2021-06-23 15:35] mayank99 commented on #163
If you look at that page again, the last update was actually 7 days ago. For some reason, the "latest" tag was only updated today.
<img src="https://user-images.githubusercontent.com/9084735/123125747-cb4b2280-d416-11eb-8ef9-31b0e912b755.png" width="30%" />

I investigated a bit more and found this issue: https://github.com/aerokube/images/issues/399

Apparently, the "latest" tag was previously us

[2021-06-23 18:32] wKich commented on #163
Yeah, it could be a reason why screenshots start failing. And it's ok, from version to version browser developers might change how UI is render. You would like to specify exact browser version and updated it explicitly.

[2021-06-25 07:40] wKich commented on #163
@bentleyvk, I checked my own tests, they also failing because of rendering changes
![image](https://user-images.githubusercontent.com/6397708/123388584-63c9da00-d5b2-11eb-8c8f-6cf2faaad4ab.png)
It's definitely browser rendering related thing

[2021-06-28 06:43] bentleyvk commented on #163
@wKich thank you for response. Maybe it is worth adding to your readme or other documentation about this.

[2021-06-28 06:43] #163 closed

[2021-07-01 15:41] Nitive opened #165 "Waiting for Storybook readiness does not work in headless Firefox"
Hello! I'm having difficulties running Creevey tests on Selenium with headless Firefox on Linux. Creevey is trying to start firefox and after a minite it fails with timeout

[code]

I started to debug what causes the timeout and found out that it is that peace of code

[code]

It turns out `load` event does not gets fired most of times for some reason and readyState stays in `interactive` state. I

[2021-07-02 17:57] wKich commented on #165
Hi. I appreciate such a detailed investigation. Could you clarify where you run Creevey and Storybook? On your local machine or on cloud service? I have a Hetzner VPS with ArchLinux for remote development. And I can't reproduce this issue with the same docker image and browser capabilities.

I'll try to use DigitalOcean, but I think the problem is somewhere else. I guess it could be due to the fac

[2021-07-04 18:31] adiun opened #166 "Storybook 6.3 + Vite support?"
[Storybook 6.3 introduced Vite support](https://storybook.js.org/blog/storybook-for-vite/). Vite replaces webpack for us in our toolchain, greatly improves build speed, and works great with Storybook as of 6.3.

We've been running creevey for some time on local machines and in CI, it works well for us. When I try to run creevey with this new Vite setup I get this error:

[code]

I could be wrong b

[2021-07-05 12:54] Perni1984 commented on #165
@wKich adding a way to define a custom `waitForStorybook` function in the config or somewhere else would be great and would resolve some flaky tests / font loading issues I have with webkit (will post Issue + PR later).

[2021-07-05 14:17] wKich commented on #166
@adiun Hi, thanks for the issue. I made a feature for loading stories without webpack, but didn't test it with Vite. I have a flag `useWebpackToExtractTests` in config which rules how to load stories. If you are using Storybook 6.3 and event 6.2 it should work well and Creevey shouldn't load webpack. It looks like a bug.

The flag is `false` by default for Storybook >= 6.2 and `true` for older ver

[2021-07-05 14:19] wKich commented on #166
I'm using webpack only to compile Creevey client UI bundle for npm package, that's why it listed in devDeps

[2021-07-06 03:41] dargmuesli opened #167 "feat: ci mode, exiting after first fail"
Hey there, great plugin!
I want to feature request a "CI" mode that make creevey exit on first error with a status code indicating failure. This way not all other images have to be checked and CI server time is saved.

[2021-07-06 07:12] wKich commented on #167
@dargmuesli, Hi. Thanks for the request. Sounds reasonable for some cases. I'll try to add an option for that.

[2021-07-06 09:51] Nitive commented on #165
@wKich I've started to dig into the issue again and it suddenly went away. I'm not sure what fixed it but it's probably some changes in Storybook. Selenium image digest and Creevey version haven't been changed.

I'm closing the issue for now. If it happens again I'll try to create a reproducable example and reopen the issue.

---

About my setup, just for reference:

- I deploy Storybook as static

[2021-07-06 09:51] #165 closed

[2021-07-07 10:07] wKich commented on #165
@Perni1984 I think you meant a way to wait if the story is ready for capturing or not. Am I right? If yes, there are two ways to do it https://github.com/wKich/creevey/issues/144#issuecomment-826490222

[2021-07-07 12:12] Perni1984 commented on #165
@wKich well yes and no. FYI your font loading algorithm does unfortunately not work in webkit/safari due to an open bug there:
* https://bugs.webkit.org/show_bug.cgi?id=174030
* https://bugs.webkit.org/show_bug.cgi?id=217047
* https://github.com/web-platform-tests/wpt/pull/10025

At least I am experience flaky behaviour with font loading in webkit/safari 14.0, where the screenshots are taken too e

[2021-07-07 12:18] Perni1984 opened #168 "Recommended way to disable animations in creevey"
Currently I am fighting with some flaky tests in a larger project and I am wondering what @wKich would recommend as a way to disable web animations in the storybooks?

Is there something along the lines like https://github.com/reg-viz/storycap/issues/8 for creevey?

[2021-07-07 13:47] wKich commented on #165
@Perni1984 , ok. I understand you.

[2021-07-07 17:46] wKich commented on #167
Added `failFast` CLI option in 0023bbb. I'll release a new version soon.

[2021-07-07 17:57] wKich commented on #168
@Perni1984 Creevey disables animations out-of-the-box. It happens here https://github.com/wKich/creevey/blob/8431918656378b6760a60da8570fb18952de210c/src/client/addon/withCreevey.ts#L164
Creevey creates a stylesheet with these styles https://github.com/wKich/creevey/blob/8431918656378b6760a60da8570fb18952de210c/src/client/addon/withCreevey.ts#L71-L81
Also, it hides the blinking cursor in inputs.

[2021-07-07 19:32] #167 closed

[2021-07-08 06:51] Perni1984 commented on #168
@wKich supercool that css animations are disabled automatically. I had some flaky tests and suspected animations, but as it seems we are changing state quite fast and thus rerendering the component in the story and sometimes the screenshot get's taken before the state change and sometimes after.

[2021-07-08 06:51] #168 closed

[2021-07-08 07:13] wKich commented on #168
@Perni1984 You can use `waitForReady` flag in creevey story parameters and call global callback when you think, that story is ready for capturing. I'll write example in docs later. But you can see usage:
Where describe `waitForReady` parameter
https://github.com/wKich/creevey/blob/945a258ee67f8c80228f3f4c4df80c3340bfba9e/stories/BlendView.stories.tsx#L13
And execution of global callback
https://gi

[2021-07-08 20:19] cassiourugit opened #169 "Mobile test using selenoid chrome-mobile"
Is it possible to use the chrome-mobile selenoid container?

Would be really nice if creevey could do the testing in mobile too

I gave it a few tries, but couldn't figure it out how to make it work

[2021-07-10 14:17] wKich commented on #169
@cassiourugit I think it's possible. But I haven't tried it.
Try to define `dockerImage` property in browser parameters inside creevey config like this:

[code]

[2021-07-12 10:01] wKich commented on #167
@dargmuesli released 0.7.33

[2021-07-12 10:34] wKich commented on #166
@adiun, Hi. I didn't see that error while fixing creevey to work with Vite. But I checked, that Creevey works in your monorepo project with vite and also it works on a fresh clean vite project.

I released 0.7.33 with those fixes. Please, check it out. And feel free to ask me if something goes wrong.

[2021-07-12 12:58] dargmuesli commented on #167
Great, thanks! It works for me when specifying `--failFast` as command line parameter, but not when setting `failFast: true` in the `creevey.config.js`, is that intended? In the config file I could use `process.env.CI` or somethink alike to detect whether failFast mode should be active or not. I'm sure that would work on the command line too somehow, but that would surely look like more of a hacky

[2021-07-12 13:44] wKich commented on #167
@dargmuesli oh, sorry. I thought only about cli option. I'll add it to config and release new version

[2021-07-12 14:19] adiun commented on #166
Thank you @wKich! I will check it out. The issue I'm running into is that I'm trying to run `creevey --extract` to create a stories.json for my storybook project (which I am using to publish the storybook) which hits this error. Have you tried that with Vite? I will give it a shot later today as well.

[2021-07-12 14:23] dargmuesli commented on #167
No worries, thanks for the quick responses! You're doing great work.

[2021-07-12 16:14] wKich commented on #166
@adiun no I didn't. But I'm pretty sure if creevey starts tests without any errors, the extract will work as well, because it reuse same logic to get stories meta.

The one important issue that I found is Creevey doesn't work well with monorepos, I mean that Creevey work with only one storybook config at the time. So you need to have root storybook setup and the same for Creevey, or have to use Cr

[2021-07-12 17:56] wKich commented on #167
@dargmuesli done, 0.7.34. And thank you for your kind words

[2021-07-12 22:24] dargmuesli commented on #167
Great, implemented: https://github.com/maevsi/maevsi/blob/17afec6b674a438eea22d3da0fed844e44811eaa/nuxt/.storybook/creevey/creevey.config.js#L15 :partying_face:

[2021-07-20 13:14] bryanrideshark opened #170 "Does Creevey support the `storiesOf` syntax?"
I've been trying to get this to work on our project (Storybook 6.3, Angular) and while I can run the Creevey UI, no stories are appearing.

Does Creevey work on storybook files which are defined using `storiesOf`, as opposed to the `export default` `export const` syntax?

We have developed our own DSL to simplify the definition of stories, and it uses `storiesOf` under the hood.

[2021-07-20 15:09] wKich commented on #170
Hi. Creevey supports storiesOf API. But if it doesn't work, I think the issue in a your DSL, and Creevey doesn't understand it. Creevey transforms source code to be able load it into node js and grab stories meta from storybook api.

I'm going to implement another approach, where Creevey doesn't need to transform source files. I hope, I can make PoC in August.

[2021-07-20 16:25] bryanrideshark commented on #170
That's good to know. As of now, I think we won't be able to use the tool, as it seems to be pretty finackey. I attempted to use it with our stories which use "out of the box" `@storybook/angular`, and it refused to build.

Even this simple example did not build:
[code]

We are using Angular 12 and Storybook 6.3.

If you're able to make a release which doesn't depend on building the story files, bu

[2021-07-20 16:26] bryanrideshark commented on #170
Error output from that very simple example:

[code]

[2021-07-22 10:31] wKich commented on #170
@bryanrideshark, oh looks like my latest stories transformation doesn't work in angular, I'll take a look. Thanks for the report.

And if you are using webpack to build storybook, you can define 'useWebpackToExtractTests' flag in creevey config. It switch to fallback mode for extracting stories meta.

[2021-08-03 18:51] sijakret opened #172 "Custom webpack loader not working"
Hey!

If i use a custom webpack loader loader it works in storybook but not in creevy
[code]
in creevy i get this console output
[code]
in storybook it works just fine.

Does creevy use the webpack config from storybook?
This case is actually even simpler since i explicitly invoke the loader so this does not even need the webpack config.
I also tried with absolute paths to avoid any issues with th

[2021-08-04 15:08] sijakret commented on #172
Update:
Also tried with webpack [resourceQueries](https://v4.webpack.js.org/configuration/module/#ruleresourcequery):
Works in storybook dev mode.

but not in creevey
[code]
Also, I noticed the same error is produced when doing a static storybook build.
However, the bundling goes through and the bundle works.

are there different webpack stacks used during preview/build/creevy?

[2021-08-06 06:46] wKich commented on #172
Hi @sijakret. I'm sorry for the bad experience with Creevey.
For Storybook 6.2+ Creevey uses a different way to load stories metadata through babel by default. It was done to support other bundlers, like `Vite`. You can try to define `useWebpackToExtractTests: true` in your Creevey config. This flag forces to use old fashion way to load stories metadata by using webpack, so I hope it should work w

[2021-08-19 17:24] pernsteinerc opened #173 "Behaviour of waitForReady and delay"
What is the behaviour of creevey if I set the following story parameters:

[code]

Will creevey wait for the call of `window.__CREEVEY_SET_READY_FOR_CAPTURE__.()` **and** wait then 2000 ms to make the screenshot or will creevey make the screenshot immediately when window.__CREEVEY_SET_READY_FOR_CAPTURE__.() get's called?

[2021-08-20 07:35] Perni1984 opened #174 "Browser specific delays for tests"
I am running into timing issues when doing the screenshots especially with webkit compared to firefox and chrome. The `delay` parameter somewhat brings relief to this, but when using the `delay` for a test it would slow down all the tests in all other browsers aswell.

We are testing mobile/tablet/desktop resolutions in chrome/firefox/webkit - so we have 9 different versions of the same test. The

[2021-08-20 08:11] Perni1984 opened #175 "Failfast:true disables maxRetries config option"
I am using creevey to run in our ci pipelines and fighting with some flaky tests/components, this is why I used a `maxRetries: 5` setting. To get some faster feedback I also used the new `failFast: true` config option. Unfortunately it seems that `failFast: true` kind of disables the `maxRetries` config option and immediately fails on the first failing screenshot.

When both options are set I thin

[2021-08-20 17:41] wKich commented on #173
@pernsteinerc hi, the first option, creevey will wait for `__CREEVEY_SET_READY_FOR_CAPTURE__` call and then wait 2000 ms. I guess the name or global function is confusing, because of how creevey works. It sends to a browser a request to switch the story or re-mount it and waits for a response. In a browser Creevey waits for when the story will be rendered in that moment story might want to update

[2021-08-20 17:47] wKich commented on #174
Yeah, it's possible to make it happen. I'll try to add this feature in the next week

[2021-08-20 17:50] wKich commented on #175
Hm... You're right, I didn't think about that combination, I'll take a look, it should be easy to fix.

[2021-08-20 17:54] Perni1984 commented on #174
thats great @wKich - many thanks!

[2021-08-20 17:54] Perni1984 commented on #175
@wKich great!

[2021-08-25 17:24] Perni1984 opened #176 "Using webkit/safari results in ERROR => UnknownCommandError: Unknown command: /wd/hub/session"
My creevey.config.js looks like the following:

[code]

Unfortunately this leads to the following error:

[code]

The reason for this is IMHO https://github.com/wKich/creevey/blob/65bcb07cf8675e1f5cf24456c518196a383a68a3/src/server/selenium/selenoid.ts#L38
as `webkit` is not part of the browserNames that are checked there.

A temporary workaround is to use `opera` as browserName, then it works.

[2021-08-27 06:19] #176 closed, assigned to nobody

[2021-09-02 12:16] yozi-developer commented on #160
According to the issue, it does not work yet
https://github.com/SeleniumHQ/selenium/issues/9733

[2021-09-14 13:20] Perni1984 opened #182 "maxRetries and non-existing screenshots"
We are using creevey in our ci pipeline runs together with a `maxRetries: 6` setting.

Whenever we are creating a new story and thus the reference screenshot is not existing yet, we are getting back a `Expected image does not exists` message, which is fine. Together with a `maxRetries: 6` setting however, it is retried up to 6 times to find the reference screenshot. I think those screenshots that

[2021-09-14 13:51] Perni1984 opened #183 "Unexpected story export "image": expected function, received "object"."
Recently we are seeing the following message when trying to run creevey together with storybook:

`Unexpected story export "image": expected function, received "object".`

These are parts of the output messages we are receiving
[code]

Is there anything we can do about it?

[2021-09-17 05:18] wKich commented on #182
@Perni1984 Yeah, that sounds reasonable. I'll try to take it somewhere in October. Sorry for the delay, I have issues with moving to a new flat and I'm preparing to speak at FrontendConf https://frontendconf.ru/moscow/2021/abstracts/7436

[2021-09-17 05:22] wKich commented on #183
Currently, Creevey loads storybook in nodejs underhood so this message probably goes from storybook. I guess you have the `export const image = ....` somewhere in your stories code.

[2021-09-17 14:27] daks01 commented on #160
I reproduced a similar error on gitlab ci + docker + selenoid

[code]

I will write more details later

[2021-09-20 08:03] Perni1984 commented on #183
@wKich you're right, this was completely unrelated to creevey - sorry for the interruption.

[2021-09-20 08:03] #183 closed

[2021-09-27 09:03] bentleyvk opened #186 "`ssh2` vulnerable version through `docker-modem`"
Dependabot found that `creevey` has vulnerable `ssh2` version that comes from `docker-modem`.
https://github.com/advisories/GHSA-652h-xwhf-q4h6
![image](https://user-images.githubusercontent.com/36186912/134877829-1bb6a800-9f80-4dc2-857f-2d91a5e8a5a4.png)

I see that `docker-modem` has fixed this issue in path release `3.0.3`: https://github.com/apocas/docker-modem/commit/0b24b61f4a92ab4dcc8bd3e4b

[2021-09-28 06:21] wKich commented on #186
@bentleyvk Thanks for opening the issue. I updated deps and released 0.7.38

[2021-09-28 06:23] #186 closed

[2021-11-16 00:41] xArt2150 opened #192 "[Creevey:21879] ERROR => TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined"
Hi

Tried to run Creevey (on Linux) and have an exception described in the title.

I follow the instruction from the readme:
1. add the creevey
2. add it to the storybook config
3. run the storybook
4. and then run the creevey

Stack:

`
yarn creevey --ui

[Creevey:21879] INFO => Pull docker images
✔ aerokube/selenoid:latest-release: Pull complete
[Creevey:21879] INFO => Pull docker images
✔ selen

[2021-11-26 13:56] giubatt opened #194 "Storybook vite builder breaks creevey chrome after hot-reload"
I'm trying to setup creevey in a project using storybook with the vite builder.

On the first run after launching storybook and creevey ui it seems to work fine most of the time, however if I make a change in a story or component that triggers a reload on storyboook, and then run the tests again, I get this error in creevey:

[code]

I have a container running chrome and another with firefox, the

[2021-11-27 11:57] Perni1984 opened #195 "Storybook 6.4.0 - TypeError: Cannot read properties of undefined (reading 'removeAllListeners')"
When updating my project to storybook 6.4.0 I am getting a `TypeError: Cannot read properties of undefined (reading 'removeAllListeners')` error message when running creevey:

![image](https://user-images.githubusercontent.com/9039956/143680309-497a913a-1ce4-409d-8cb6-cfbdf04d6b31.png)

[2021-12-06 15:55] Perni1984 commented on #195
@wKich is there anything I could help with, or could you eventually point me in the right direction so I could provide a fix myself?

[2021-12-07 14:19] wKich commented on #192
Hi. I'm sorry for the late response. That is strange because I use the same packages https://www.npmjs.com/package/find-cache-dir that is used in Storybook to resolve `.cache` directory inside `node_modules`. Oh, I see, the modules paths look like you use yarn@2 or yarn@3 and I never tested creevey with them

[2021-12-07 18:54] giubatt commented on #195
+1 would be nice to be able to use storybook 6.4
We're using 6.3 for now as creevey is too useful for us compared to the alternatives

[2021-12-13 08:16] xArt2150 commented on #192
@wKich yeah, we are using yarn 3.1.1

[2021-12-13 10:29] vincentaudebert commented on #195
+1 we wanted to give a try to creevey but won't roll back to SB 6.3 just for this :(

[2021-12-13 15:54] wKich commented on #195
Oh... I really didn't know, that so many projects use Creevey :) I'm so sorry folks for the huge delay. There were pretty busy the last few months. It's very hard to maintain the current flow for interactive tests and story extraction in Creevey (especially this one https://github.com/wKich/creevey/blob/master/src/server/loaders/babel/helpers.ts). So I want to simplify things a little bit, accordi

[2021-12-14 12:57] fifle commented on #160
Hey everyone! Are there any update on those issues?
The problem still persists in combination of Macbook on M1 chip + Docker + Selenium under Codeception.

[2021-12-14 19:47] Perni1984 commented on #195
@wKich if we can supply any PRs for any specific functionality or you can lay out a plan of how to do the migration we can contribute.

[2021-12-16 18:57] TheMontanyes commented on #160
@wKich, Hello!
The problem is still relevant, is there any news on the solution?
I tried all the options, also emulated via arch x64

[2022-01-08 09:08] d-woegerbauer commented on #192
Hi, is there any update to this issue yet, because I am also experiencing this issue with creevey?
![image](https://user-images.githubusercontent.com/56993269/148638510-aa1049af-3f3b-4428-9bad-a0281a7526c1.png)

[2022-01-14 16:00] bentleyvk opened #200 "Creevey with Docker Desktop alternatives"
Hi, since Docker Desktop changed its pricing, we need to use alternatives. I tried [Rancher Desktop](https://github.com/rancher-sandbox/rancher-desktop) which seems to be good replacement however Creevey is not working with it, it just hangs with this output:
![image](https://user-images.githubusercontent.com/36186912/149545558-b29a93de-b557-4ae1-8785-77e924dd1160.png)

I also tried to setup Docke

[2022-01-15 16:27] Perni1984 commented on #195
@wKich is there any documentation available on how to contribute. I tried to fork creevey to try to fix the problem myself, unfortunately I am a bit lost on how to even start creevey, because `yarn start` does not work on the main branch on my machine.

[2022-01-18 11:07] GreLI opened #202 "Testing Firefox focus state issues"
We use Creevey to test elements states like CSS `:hover`, `:active`, `:focus-visible`. Here's the example test for keyboard focus:
[code]
However, it seems the test works unstable in Firefox (hover state works ok). `:focus-visible` style may render in the first time run or in some particular tests, but doesn't render on subsequent runs. Active state (with pressed mouse button) sometimes doesn't re

[2022-01-18 18:38] mayank99 commented on #195
@Perni1984 Maybe you need to install `run-p` globally as it's not included in dev deps.

[2022-02-03 13:25] vincentaudebert commented on #195
Hi @wKich

Just wondering if any progress has been made on this? Thanks a lot.

[2022-02-14 14:59] hamitzor commented on #151
Having the same problem.

[2022-02-14 15:28] hamitzor commented on #151
I strongly believe Git LFS has something to do with this, as @varya pointed out, because when I have PNGs that have not been interacted with Git LFS the error disappears.

[2022-02-22 14:51] wKich commented on #195
I appreciate you for all your patient.

I added support for CSFv3 and added `capture` API for `play()` method of story. https://github.com/wKich/creevey/pull/187

Soon there will be a small fix for Storybook 6.4 and then I'll release new beta version.

PS I know that I don't have so much time to maintain whole project, update docs, implement new features and promote it. Because it's not my primary

[2022-03-05 08:51] daivanova2017 commented on #200
+1 same for me with Rancher Desktop 1.1.0

[2022-03-17 07:06] #195 closed

[2022-03-21 16:32] mabry1985 commented on #195
Hello, I am still seeing this issue. It looks like this was updated in 8.0-beta, but it seems like there was an issue with the build process and that was not packaged.

[2022-03-21 16:34] Perni1984 commented on #195
@mabry1985 you have to pull the beta via `yarn add creevey@next`

[2022-03-21 16:34] mabry1985 commented on #195
@Perni1984 oh perfect, thank you!

[2022-04-03 08:06] okletzmayr commented on #160
Looks like ARM images for selenium have been released ~1 month ago:
https://github.com/SeleniumHQ/docker-selenium/issues/1076#issuecomment-1053189663

I managed to get to the Screenshot stage on `0.8.0-beta.0` M1 with this `.creevey/config.js`:
[code]
The workers look like they work if they can screenshot stuff, but I *think* `aerokube/selenoid` is causing problems since this image is still `amd64

[2022-04-12 17:47] GreLI opened #212 "Malicious code through dependency"
At the moment Creevey has dependency on `event-source-polyfill`:
https://github.com/wKich/creevey/blob/8c171020cf7a8cf4c5096e2b09d6bb4055d1621c/package.json#L94

Unfortunately, the version of dependency is not fixed, and in version 1.0.26 some malicious code was added into the package. It interrupts user flow showing a political statement while using code which is incompatible with older browser a

[2022-04-21 10:57] emlai opened #214 "Typescript support"
Currently when I try run `yarn creevey --ui` with version `0.8.0-beta.0`, I get the following error in `preview.ts`:

[code]

[2022-05-13 20:46] mwiemer-microsoft commented on #151
Yes, I got the same with an Azure Pipelines build when we used Git LFS in our repo. Removing Git LFS resolved the problem.

[2022-06-17 07:28] rustho opened #217 "Storybook 6.5 support, bundle with many chunks"
Storybook now use lazy loading and many chunks and after updating creevey can't work with main.js of storybook

[2022-07-03 14:49] #212 closed

[2022-07-15 02:31] bonesoul opened #223 "creevey with storybook 6.5"
trying creevey with storybook 6.5 and getting

using the creevey@next for this:

[code]

[2022-07-18 09:53] susorovpp opened #224 "Extract `metadata` object from story"
I am trying to extract `metadata` (include default story parameters such as title, component, parameters, story.args, story.argTypes, etc.) from file with stories to separate file because my  `args` and `argTypes` objects are too large. In separate file I create and export an object with all necessary props and then import it to the main file with stories as a constant (also, I make default export